Flask==3.0.2
Flask-SQLAlchemy==3.1.1
mysql-connector-python==8.3.0
requests==2.31.0
flask_cors==3.0.10
pyproj==3.6.1
googlemaps==4.5.3
apscheduler==3.8.1
twilio==7.0.0
pytz==2021.3

# pip install -r requirements.txt